[Desktop Entry]
Name=FClash
Comment=A Clash Proxy Frontend.
Exec=fclash-test
Icon=${SNAP}/meta/gui/fclash.png
Terminal=false
Type=Application
Categories=Network;
